@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lora|Rock+Salt");
@import url("https://fonts.googleapis.com/css?family=Righteous");

body {
  background-color: #002b36;
  // margin: 0px;
  // padding: 0px;
  font-family: "Lora", serif;
  font-size: 1.2em;
  color: silver;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 1rem;

  @media screen and (min-width: 1200px) {
    max-width: 50%;
  }
}

.content {
  flex-grow: 1;
  // max-width: 800px;
  a {
    color: #b58900;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      background-size: 4px 50px;
      color: #b8c95c;
      color: goldenrod;
      border-bottom-color: #b8c95c;
      border-bottom-color: #pink;
    }
  }
}

img:hover {
  text-decoration: none;
}

p {
  line-height: 110%;
  margin: 3rem 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  clear: both;
}

link {
  text-decoration: none;
}
