body {
    background-color: #e6e8e6;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #080708;
}

/* a {
    color: #f75c03;
    text-decoration: none;
    } */

a {
    color: #e5f77d;
    text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        }
    

main a {
    background:
        linear-gradient(
            to bottom, #fdca40 0%,
            #fdca40 100%
        );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
    }
    
    a:hover {
    background-size: 4px 50px;
    }


.nav > Link {
    color: red;
    }
/* nav > a {
    color: red;
    } */




Link {
    color: #e5f77d;
    text-decoration: none;
    }


.willpic {
    max-height : 430px;
    max-width: 30vw;
    float: right;
    border-radius: 10px;
    margin: 0px 0 0 0;
    padding: 10px;
    /* align-self: right; */
    
    }

.nav {
    float: right;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Montserrat', sans-serif;
    color: #df2935;
    text-decoration: none;
}